# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.spec

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Сборки (опционально: обычно .exe не хранят в git, а выкладывают в Releases)
*.exe